* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.firstsection {
    height: 300px;
    width: 800px;
    background-image: url(../image/websquare1.gif);
    background-color: #0B516B
}

.secondsection {
    height: 300px;
    width: 800px;
    background-image: url(../image/wesquare1.gif);
    background-color: #A0BACA
}