* {
    box-sizing: border-box;
}

.section1 {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 630px;
    background-image: url("./image/headphoto.jpg");
}

.section2 {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(28, 127, 156);
    background-color: rgb(28, 127, 156);
}

.event {
    color: #fff;
    width: 19.6%;
    height: 300px;
    background-color: #1B2C3B;
    float: left;
    text-align: middle;
}

.section4 {
    color: #fff;
    background-color: rgb(28, 127, 156);
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(28, 127, 156);
    text-align: middle;
    font-size: 100px;
}